@charset "UTF-8";
/* ユニバーサルセレクタ   */
*{
	margin:0;
	padding:0;
}
/*floatの解除*/
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility:hidden;
}

#position span.Logout{
	float:right;
	color:#3880B4;
}

.wrap .box1,.box2,.box3{
	display:flex;
	min-width:900px;
	height:35px;
	margin:20px auto;
	/* padding-left:20px;
	padding-right:20px; */
	line-height:35px;
	border:1px solid #CFDFE9;
	justify-content:space-between;
}



 .wrap .box1 div,.box2 div,.box3 div{
	display:inline-block;
}
/* .wrap .box2 .access2jp,.access2cn,.access2en,
.linkurl1,.linkurl2,.linkurl3,.duedate{
	float:right;

} */
/* .wrap .box3 .categorynamejp,.categorynamecn,.addr1jp,
.addr2jp,.addr1cn,.addr2cn,.addr1en,.addr2en,.tel,.fax{
	margin-right:12px;
} */
.wrap label{
	display:inline-block;
	width:100px;
	text-align:left;
	color:#3880B4;
}
.wrap input{

	height:24px;
	text-overflow: ellipsis;
    overflow: hidden;
    color:#3880B4;

}
.wrap .box1 input{
	width:200px;
}
.wrap .box2 input{
	width:260px;
}
.wrap .box3 input{
	width:200px;
}

.wrap .box1 .homeurl input{
	width:260px;
}
.wrap .box2 .access2jp,.access2cn,.access2en,
.linkurl1,.linkurl2,.linkurl3,.duedate{
	float:right;
}
/* .wrap .box3 .categorynamejp,.categorynamecn,.addr1jp,
.addr2jp,.addr1cn,.addr2cn,.addr1en,.addr2en,.tel,.fax{
	margin-right:12px;
} */
.linkurl input,.linkurl1 input,.linkurl2 input,.linkurl3 input{
	text-align:center;
	vertical-align:middle;

}
/* .wrap .wrap-sub{
	text-align:center;
}
.wrap input.sub{
	width:150px;
	height:25px;
	background:#BCEFFD;
	border-radius: 10px;
} */
.wrap-sub{
	display:flex;
	margin-top:20px;
	text-align:center;
	justify-content:space-around;
}
.wrap-sub input{
	width:150px;
	height:25px;
	background:#CFDFE9;
	border-radius: 10px;
	border:none;
	cursor:pointer;
	color:#5589AA;
	font-weight: bold;

}
.wrap input.sub:hover{
	color:pink;
}

